.wrapper
  = render 'shered/chat-side'

  .chat-main
    .chat-main__header
      .chat-main__header-group
        .chat-main__header-group-name
          = @group.name
        .chat-main__header-group-edit-btm
          = link_to "edit", edit_group_path(@group)
      %ul.chat-main__header-members
        MEMBER :
        %li.member
          = @group.users.pluck(:name).join(" ")
    .chat-main__body
      .chat-main__body-message-list
        = render @messages
    .chat-main__footer
      .form.new-message
        = form_for [@group, @message], id: 'new_message' do |f|
          = f.text_field :content, class: 'text-new', placeholder: 'type a message'
          = f.label :image, class: 'upload-label' do
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'
