.wrapper
  = render 'shered/chat-side'

  .chat-main
    .chat-main__header
      .chat-main__header-group
        .chat-main__header-group-name
          グループ名
        .chat-main__header-group-edit-btm
          = link_to "edit", edit_group_path(@group)
      %ul.chat-main__header-members
        MEMBER :
        %li.member マック松村
        %li.member ボンジュール上田
    .chat-main__body
      .chat-main__body-message-list
        = render @messages

    .chat-main__footer
      .form.new-message
        /%input.text-new{placeholder: "type a message"}
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'text-new', placeholder: 'type a message'
          / %label.upload-label{for: "upload-icon"}
          /   %i.fa.fa-picture-o
          /   %input.hidden{type: "file", id: "upload-icon"}
          = f.label :image, class: 'upload-label' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'
