.chat-side
  .chat-side__user
    .chat-side__user-content
      .user-name
        = current_user.name
      %ul.chat-side-icon
        %li.icon
          = link_to new_group_path do
            %i.fa.fa-cog{"aria-hidden" => "true"}
        %li.icon
          = link_to edit_user_path(current_user) do
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
  .chat-side__groups
    .chat-side__groups-list
      - current_user.groups.each do |group|
        .chat-side__group
          = link_to group_messages_path(group) do
            .chat-side__group__name
              = group.name
            .chat-side__group__latest-message
              最新のメッセージ
